<!-- IF S_DISPLAY_WELCOME -->
<div class="snMpRightBlock forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist"><li class="header"><dl><dt style="width:auto;">{L_SN_MP_WELCOME_TITLE}</dt></dl></li></ul>
		<h3>{L_SN_MP_WELCOME_TITLE}</h3>
	</div>
</div>
<div class="snMpRightBlocktext">{L_SN_MP_WELCOME_TEXT}</div>
<!-- ENDIF -->

<form action="{U_SN_MAINPAGE}" method="post">
	<div class="snMpRightBlock forabg">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<ul class="topiclist"><li class="header"><dl><dt style="width:auto;">{L_LOGIN} &bull; <a href="{U_REGISTER}">{L_REGISTER}</a></dt></dl></li></ul>
			<h3>{L_LOGIN}</h3>
		</div>
	</div>
	<div class="snMpRightBlocktext snMpLogin">
			<fieldset>
				<dl class="snMpLoginHeader">
					<dt><label for="username">{L_USERNAME}</label></dt>
					<dd><label for="password">{L_PASSWORD}</label></dd>
				</dl>
				<dl>
					<dt><input type="text" name="username" id="username" size="25" title="{L_USERNAME}" class="inputbox" /></dt>
					<dd>
						<input type="password" name="password" id="password" size="25" title="{L_PASSWORD}" class="inputbox" />
					</dd>
					<dd class="snMpLoginButton">
						<input type="submit" class="button1" name="login" value="{L_LOGIN}" />
					</dd>
				</dl>
				<dl>
					<dt><input type="checkbox" name="autologin" id="autologin" /> <label for="autologin" style="font-weight:normal">{L_SN_MP_KEEP_LOGGEDIN}</label></dt>
					<dd class="snMpLoginRegister">
						<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a> | <a href="{U_REGISTER}">{L_REGISTER}</a>					
					</dd>
				</dl>
			</fieldset>
			{S_HIDDEN_FIELDS}
		<!-- IF LOGIN_ERROR -->
		<div class="error">{LOGIN_ERROR}</div>
		<!-- ENDIF -->
	</div>
	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
</form>
