				<div class="snUsFetchBlock">
					<div class="loader"><img src="{T_IMAGESET_PATH}/socialnet/ajax-loader3.gif" alt="{L_LOADER}"/></div>
					<div class="snUsFetchPreview">
						<div class="snUsFetchImages">
							<div class="snUsFetchImgs" style="height:160px;"></div>
							<div class="snUsFetchImgNav">
								<img src="{T_IMAGESET_PATH}/socialnet/prev.png" class="snUsFetchImgsPrev" alt="{L_PREVIOUS_IMAGE}" /><img src="{T_IMAGESET_PATH}/socialnet/next.png" class="snUsFetchImgsNext" alt="{L_NEXT_IMAGE}" />
							</div>
							<div class="snUsFetchThumb">
								<span class="cPic">1</span> {L_OF} <span class="mPic">1</span>
								<span class="small">{L_SN_US_CHOOSE_THUMB}</span>
							</div>
						</div>
						<div class="snUsFetchData">
							<div class="title"></div>
							<div class="url"><a href="#">#</a></div>
							<br />
							<textarea class="inputbox desc"></textarea>
						</div>
						<div class="snUsFetchVideo">
						</div>
						<div class="snUsFetchVideoInfo"></div>
						<div class="snUsFetchVideoProvider"></div>
					</div>
					<div class="clear"></div>
					<div class="snUsThumbs">
						<label for="snUsNoImg" class="snUsThumbsImg">
							<input type="checkbox" id="snUsNoImg" /> {L_SN_US_NO_IMG_THUMB}
						</label>
						<label for="snUsNoVideo" class="snUsThumbsVideo">
							<input type="checkbox" id="snUsNoVideo" /> {L_SN_US_NO_VIDEO_THUMB}
						</label>
					</div>
					<div class="clear"></div>
				</div>
				<input type="button" name="snUsFetchButton" class="snUsFetchButton ui-button ui-widget ui-state-default ui-corner-all" value="{L_SN_US_FETCH_PAGE}" />
				<input type="button" name="snUsFetchClear" class="snUsFetchButton ui-button ui-widget ui-state-default ui-corner-all" value="{L_SN_US_FETCH_CLEAR}" />
