<!-- IF B_SN_BLOCK_FRIENDS_SUGGESTIONS_ENABLED and ( .mutual_friends or SN_FMS_BLOCK_SUGGESTION_IS_NOT_EMPTY ) -->
	<div class="snMpRightBlock forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist"><li class="header"><dl><dt style="width:100%;display:block;">
				{L_SN_MP_FRIEND_SUGGESTIONS}
				<span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="padding:0 3px;float: right;margin-top:-3px;margin-right:5px;text-transform:none;"><a href="{U_VIEW_SUGGESTIONS}" style="color:#222;font-size:0.8em;">{L_SN_MP_SEE_ALL}</a></span>
				</dt></dl></li></ul>
			<h3>{L_SN_MP_FRIEND_SUGGESTIONS}</h3>
		</div>
	</div>
	<div class="snMpRightBlocktext">
	  <div class="clear"></div>
		{SN_FMS_BLOCK_SUGGESTION_CONTENT}
		<div class="clear"></div>
	</div>
<!-- ENDIF -->