<!-- IF B_SN_BLOCK_BIRTHDAY_ENABLED and .friends_birthday -->
	<div class="snMpRightBlock forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist"><li class="header"><dl><dt style="width:auto;">{L_SN_MP_BIRTHDAY}</dt></dl></li></ul>
			<h3>{L_SN_MP_BIRTHDAY}</h3>
		</div>
	</div>
	<div class="snMpRightBlocktext">
		<!-- BEGIN friends_birthday -->
		<div style="padding-bottom: 5px;">
      <span style="font-weight: bold;">{friends_birthday.USERNAME}</span> {friends_birthday.SN_MP_BIRTHDAY_ON} {friends_birthday.DATE}
		</div>
		<!-- END friends_birthday -->     	
		<div class="clear"></div>
	</div>		
<!-- ENDIF -->